//Цвет текста  
$color-gray: #777

//Основные цвета
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

//ЧБ цвета
$color-black: #000
$color-white: #FFF

//Тени для кнопок
$box-shadow-03: (0rem .4rem .4rem rgba($color-black, 0.3))
$box-shadow-01: (0rem .4rem .4rem rgba($color-black, 0.1))
$shadow-h2: (0rem .4rem .4rem rgba($color-black, .25))

//Расстояния
$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem

//Типографика

$font-size-paragraph: 1.6rem
$font-size-h2: 3.6rem
$font-size-h3: 2rem