@font-face {
  font-display: swap;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #cc9933;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  background: #e5e5e5;
}


section{
  margin-bottom: 70px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  border: 1px solid #cc9933;
  border-radius: 10px;
}

/* Header */

.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header-logo img {  
  border-radius: 15px;
}

.header-tel {
  color: #666;
  font-size: 20px;
  line-height: 20px;
}

.header-link_mod {
  display: flex;
  align-items: center;
}

.header-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(3px);
}

.header-icon_arrow {
  background-image: url(../icons/arrow.svg);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 45px;
  border-radius: 15px;
  background-color: #fff;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.nav-header a{  
  color: #666;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}


/* Hero */

.section-heading {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.section-hero-list {
  display: flex;
}

.section-hero-left,
.section-hero-right {
  flex: 1 1 50%;
}

.section-hero-left .section-hero-item:not(:last-child) {
  margin-bottom: 24px;  
  /* background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%); */
}

.section-hero-item {
  position: relative;
  min-height: 260px;
  margin-right: 23px;
}

.section-hero-item--big {
  min-height: 540px;
}

.section-hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 15px;
}

.section-hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;  
  padding: 40px 45px;
  min-height: 100%;
  z-index: 1;
  color: #fff;
}

.section-hero-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.section-hero-price {
  margin-bottom: 47px;
  margin-top: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

.section-hero-link {
  display: block;
}

.section-hero-right {
  margin: 0;
}

.section-hero-right .section-hero-info {
  transform: translateY(50%);
}

.section-hero-right .section-hero-text {
  font-size: 60px;
  line-height: 60px;
}

.section-hero-right .section-hero-price {
  font-size: 30px;
  line-height: 30px;
}

/* About Us */

.section-about-text {
  width: 77%;
  line-height: 32px;
}

/* Service */

.section-service-list {
  display: flex;
  flex-wrap: wrap;
}

.section-service-item {
  flex: 1 1 50%;
}

/* Features */

.section-features-list {
  display: flex;
  flex-wrap: wrap;
}

.section-features-item {
  flex: 1 1 25%;
}

/* Room */

.section-room-list {
  display: flex;
  flex-wrap: wrap;
}

.section-room-item {
  flex: 1 1 33.33%;
}