@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;

  src: url("./fonts/gilroy-regular.woff") format("woff");
}

/* 
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Gilroy-Medium.woff") format("woff");
} */

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/gilroy-bold.woff") format("woff");
}

/* 
@font-face {
  font-family: "Gilroy";
  font-weight: 1000;
  font-style: normal;
  src: url("./fonts/Gilroy-Heavy.woff") format("woff");
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


body {
  background-color: #F5EDDF;
  font-family: Gilroy;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 0.9rem;
}

p {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center !important;
}

button.btn {
  margin: 0 auto;
  padding: 40px 240px;
  border-radius: 60px;
  border: none;
}

.container {
  padding: 0 20px;
}

.section {
  padding-bottom: 100px;
}

.section-title {
  color: #23B7AF;
  font-size: 64px;
  font-weight: 1000;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.section-title .modify {
  padding-left: 70px;
  text-align: right;
}

.section-title .modify-reverse {
  padding-right: 130px;
}

/* 
.section-title::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  background-image: url('./img/title.svg');
  background-repeat: no-repeat;
  top: 0;
  left: 0;
} */

.section-title--big {
  width: 25%;
}

.section-title--white {
  color: #fff;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* padding: 65px; */
}

.popular-content {
  position: relative;
  margin-bottom: 3rem;
}

.popular-pic {
  width: 100%;
  height: 100%;
}

.popular-img {
  width: 100%;
  height: 100%;
}

.popular-title,
.popular-subtitle {
  position: absolute;
}

.popular-title {
  width: 50%;
  bottom: 0;
  right: -10px;
  font-size: 6rem;
  margin: 0;
}

.popular-subtitle {
  color: #fff;
  font-weight: 700;
  width: 15%;
  font-size: 1.5rem;
  top: 44%;
  left: 11%;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.popular-item {
  width: calc(92%/4);
  /* height: 750px; */
  margin-bottom: -100px;
}

.popular-item_pic {
  width: 100%;
  height: 60%;
  margin-bottom: 3rem;
  position: relative;
}

.popular-item_img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-item_pic::before {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #EEF9F8;
  border-radius: 50%;
  background-repeat: no-repeat;
  top: 5%;
  right: 5%;
  background-image: url("./img/heart.svg");
  background-position: center center;
  background-size: 25px;
}

.popular-item_text {
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  color: #454545;
}

.popular-item_price {
  display: flex;
}

.popular-item_price-sale {
  padding-right: 1rem;
  color: #7D7D7D;
}

.popular-item_price-main {
  text-decoration: line-through;
  color: #D5D5D5;
}

.video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-text {
  width: 50%;
  font-size: 1.27rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.video-test {
  position: relative;
  background: #696969;
  width: 600px;
  height: 400px;
  border-radius: 30px;
}

.video-test::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  background-image: url('./img/Play.svg');
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blocks-content {
  display: flex;
  height: 600px;
}

.blocks-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #24B6B0;
  border-radius: 30px;
}

.blocks-left--modify {
  background-color: #E62D5C;
}

.blocks-text {
  color: #fff;
  width: 45%;
}

.blocks-right {
  width: 50%;
}

.blocks-pic {
  width: 100%;
  height: 100%;
}

.blocks-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.section--video {
  background-image: url("./img/video-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: -1;
}

.section--more-info {
  background-image: url(./img/section2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1250px;
  position: relative;
  z-index: 1;
  background-position-y: 200px;
}


.blog-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.blog-left {
  background-color: #24B6B0;
  border-radius: 30px;
  height: 480px;
  width: 700px;
  background-image: url("./img/shoes.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 10% bottom -70%;
  position: relative;
}

.blog-right {
  height: 480px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.blog-item {
  height: 235px;
  border-radius: 30px;
}

.blog-item--pic {
  background-image: url("./img/3.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.btn-blog {
  padding: 20px 60px !important;
  position: absolute;
  bottom: 15%;
  left: 5%;
  color: #24B6B0;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.category-item {
  width: 29%;
  margin-bottom: 20px;
}

.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-pic {
  width: 100%;
  height: 400px;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.category-item--big {
  width: 39%;
}

.category-title {
  background-color: #ECAB12;
  color: #fff;
  z-index: 1;
  text-align: center;
  border-radius: 0 0 30px 30px;
  font-size: 1.7rem;
  padding: 20px;
  text-transform: uppercase;
}

.section--blocks .blocks-left {
  justify-content: space-evenly;
  padding: 65px;
}

.question-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.question-item {
  width: 48%;
  height: 60px;
  border: 1px solid;
  background-color: #F0E6D4;
  border-radius: 10px;
  margin-bottom: 30px;
  display: block;
  justify-content: space-between;
}

details {
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  padding: .3em .5em .3em .4em;
  display: inline-block;
  font-size: 1.4em;
  cursor: pointer;
}

summary::after {
  content: "+";
  position: absolute;
  right: 10px;
  top: 15px;
}

details[open]>summary::after {
  content: "–";
}

summary~* {
  padding: 0 1em 0 1em;
}

summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}


.feedback-content {
  display: flex;
  flex-direction: column;
}

.btn-yel {
  background-color: #ECAB12;
  color: #fff;
  font-size: 1.5rem;
}

.feedback-list {
  display: flex;
}

.feedback-item {
  margin-right: 30px;
  margin-bottom: 20px;
  width: 44%;
  height: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  padding: 30px;
  font-size: 1.4rem;
}

.feedback-item:nth-child(1n) {
  background-color: #24B6B0;
}

.feedback-item:nth-child(2n) {
  background-color: #E62D5C;
}

.feedback-name {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.feedback-subtitle {
  font-size: 1rem;
  margin-bottom: 15px;
}


.team-item {
  width: calc(96%/4);
}

.team-pic {
  /* width: 280px; */
  /* max-height: 440px; */
  margin-bottom: 40px;
}

.team-img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.brands-list {
  display: flex;
  justify-content: space-around;
}

.brands-item {
  width: calc(96%/4);
  height: 280px;
}


.brands-img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}